#bell {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

#menu {
    width: 60px;
    height: 70px;
    float: right;
}

.menu-btn {
    float: right;
    background-color: black;
}

.title {
    color: red;
}

.author {
    color:white;
    font-size: 16px;
}

h1 {
    margin-bottom: 0px;
}