<div class="row">
    <div class="col-md-1">
        <button class="menu-btn" (click)="showMenu()">
            <i>
                <img id="menu" src="../../../../../assets/menu.png" alt="">
            </i>
        </button>
        
    </div>
    <div class="col-md-10">
        <h1 class="title">{{title | uppercase}}</h1>
         <p class="author">by {{author}}</p>
    </div>
    <div class="col-md-1">
        <i>
            <img id="bell" src="../../../../../assets/bell-icon.png" alt="">
        </i>
    </div>
</div>