.movies-gallery {
    height: 590px;
    background-color: black;
}

.inner-gallery {
    background-color: black;
    height: 590px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 30px;
    display: flex;
}